.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label,
.file-upload p {
  font-weight: 600;
  padding-block-end: 0.75rem;
  color: var(--color-label);
}

.form-group input,
.form-group textarea,
.guest-counter {
  padding: 0.875rem 0.75rem;
  border-radius: .5rem;
  border: 1px solid var(--color-border);
}

.form-group textarea {
  resize: none;
}

.form-group textarea::placeholder {
  font-family: sans-serif;
}

.form-group p {
  text-align: right;
  font-size: 0.875rem;
  font-weight: 600;
}

/* Input icons */
.form-group .input-icon {
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position-x: 0.5rem;
  background-position-y: 50%;
  padding-inline-start: 3rem;
}

#address {
  --bg-img: url('../assets/lucide/map-pin.svg');
}


/* Address container */

.address-container {
  margin-block: 3rem;
}


/* Input file */
input[type="file"] {
  display: none;
}

.file-upload div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.file-upload label {
  padding: 0.875rem 0.75rem;
  border: 1px solid var(--color-green);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-green);
  font-weight: 600;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* Options */
select {
  padding: 0.875rem 0.75rem;
  border-radius: 0.5rem;
  border-color: var(--color-border);
}

/* Radio group */
.checkbox-container p{
  margin-block-end: 1rem;
}

.checkbox-group {
  border: 1px solid var(--color-border);
  padding: 0.875rem 0.75rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.checkbox-group input {
  appearance: none;
}

.checkbox-group label {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.625rem;
}

/* Dialog */
dialog {
  max-width: 450px;
  border: 0.2px solid;
  border-radius: 0.5rem;
  padding-inline: 2rem;
}

dialog > *+* {
  margin-block-start: 1.5rem;
}

dialog .center {
  display: block;
  text-align: center;
  text-decoration: underline;
}

dialog Button {
  display: block;
  width: 100%;
}

dialog .close {
  display: block;
  margin-inline-start: auto;
  cursor: pointer;
}