.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label,
.file-upload p {
  font-weight: 600;
  padding-block-end: 0.75rem;
  color: var(--color-label);
}

.form-group input,
.form-group textarea,
.guest-counter {
  padding: 0.875rem 0.75rem;
  border-radius: .5rem;
  border: 1px solid var(--color-border);
}

.form-group textarea {
  resize: none;
}

.form-group textarea::placeholder {
  font-family: sans-serif;
}

.form-group p {
  text-align: right;
  font-size: 0.875rem;
  font-weight: 600;
}

/* Input icons */
.form-group .input-icon {
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position-x: 0.5rem;
  background-position-y: 50%;
  padding-inline-start: 3rem;
}

#address {
  --bg-img: url('../assets/lucide/map-pin.svg');
}


/* Address container */

.address-container {
  margin-block: 3rem;
}


/* Input file */
input[type="file"] {
  display: none;
}

.file-upload div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.file-upload label {
  padding: 0.875rem 0.75rem;
  border: 1px solid var(--color-green);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-green);
  font-weight: 600;
  border-radius: 0.5rem;
  font-size: 1rem;
}