.moment {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.moment-duration {
  color: rgb(153, 153, 153);
}

.hours-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hours {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem
}