.option {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;

  border: 1px solid rgb(214, 214, 214);
  padding-block: 1rem;
  padding-inline: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.option:hover,
.selected.option { 
  border-color: var(--color-orange);
  background-color: var(--color-light-orange);
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  margin-block-start: 3rem;
}