#root {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 60%;
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}