#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
  padding-inline: 2rem;
}

.container {
  max-width: 60%;
  margin-inline: auto;
}

.header-container {
  margin-inline: auto;
  max-width: 1100px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 2rem 0.5rem;
}

.subheading {
  font-size: 1rem;
  font-weight: normal;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid black;
  padding-block: 1.5rem;
}

.content-container {
  margin-block: 2rem 3rem;
}

.content-container > *+* {
  margin-block-start: var(--spacing, 2rem);
}

.txt-semibold {
  font-weight: 600;
}

.txt-normal {
  font-size: 0.875rem;
}

.txt-large {
  font-size: 1.5rem;
}

.txt-xlarge {
  font-size: 2rem;
}

.txt-bold {
  font-weight: bold;
}

.margin-bs {
  margin-block-start: 2rem;
}