#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
  padding-inline: 2rem;
}

.container {
  max-width: 60%;
  margin-inline: auto;
}

.header-container {
  margin-inline: auto;
  max-width: 1100px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid black;
  padding-block: 1.5rem;
}