#root {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}