button {
  background-color: var(--bg-color, inherit);
  color: var(--text-color, inherit);
  border-width: 1px;
  border-color: black;
}

button.primary {
  --bg-color: rgb(0, 107, 92);
  --text-color: white;
  border: none;
}