:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --color-green: rgb(0, 107, 92);
  --color-orange: rgb(255, 107, 53);
  --color-light-orange: rgb(235, 235, 235);
  --color-border: rgb(214, 214, 214);
  --color-font: rgb(44, 62, 80);
  --color-label: rgb(102, 102, 102);
}

a {
  font-weight: 500;
  color: var(--color-font);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100svh;
  color: var(--color-font);
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1 span.green {
  color: var(--color-green);
}

h1 span.orange {
  color: var(--color-orange);
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color, inherit);
  color: var(--text-color, inherit);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.primary {
  --bg-color: var(--color-green);
  --text-color: white;
  border: none;
}

progress {
  min-width: 100%;
  appearance: none;
  height: 0.5rem;
}

::-webkit-progress-bar {
  background-color: var(--color-light-orange);
}

::-webkit-progress-value {
  background-color: var(--color-orange);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
